.ctnCount {
  display: flex;
  position: absolute;
  gap: 5rem;
  max-width: 973px;
  width: 100%;
  top: 230px;
  right: 245px;
}

.count {
  font-weight: 700;
  line-height: 160px;
  font-size: 200px;
}
